h1 {
    text-align: center;
  }

.mao {
    display: flex;
    justify-content: center;
}
  
.options {
    display: flex;
    justify-content: center;
  }
  
button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    background-color: #f2f2f2;
    border: 2px solid #ccc;
    cursor: pointer;
    transition: all 0.3s ease;
}
  
button:hover {
    background-color: #ccc;
    border-color: #999;
    color: #fff;
}
  
#result {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}