body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  
h1 {
    text-align: center;
  }

.mao {
    display: flex;
    justify-content: center;
}
  
.options {
    margin: 10px;
    display: flex;
    justify-content: center;
  }
  
button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    background-color: #f2f2f2;
    border: 2px solid #ccc;
    cursor: pointer;
    transition: all 0.3s ease;
}
  
button:hover {
    background-color: #ccc;
    border-color: #999;
    color: #fff;
}

.placar {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 10px auto;
    max-width: 500px;
    padding: 10px;
  }
  
  .placar p {
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 10px;
    text-align: center;
    width: 50%;
  }
  
  #pontos-jogador {
    background-color: #4CAF50;
    color: #fff;
  }
  
  #pontos-oponente {
    background-color: #f44336;
    color: #fff;
  }
  
#result {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}